@media screen and (max-width: 1280px) {
    .card {
        max-width: 503px;
    }

    .logo {
        left: 7%;
    }

    nav {
        right: 7%;
    }
}

@media screen and (max-width: 1168px) {
    .card {
        max-width: 503px;
    }
}

@media screen and (max-width: 1024px) {
    .card {
        max-width: 488px;
    }

    nav .menu-btn {
        display: flex;
    }

    nav {
        transform: translateX(100%);
    }

    nav .nav-links li {
        opacity: 0;
        transform: translateX(50%);
    }
}

@media screen and (max-width: 1024px) {
    .container_intro {
        max-width: 1200px;
        margin: auto;
    }

    .logo {
        left: 0;
        margin-left: 32px;
    }

    nav {
        top: 0;
        right: 0;
        transform: translateX(100%);
        background: rgba(0, 0, 0, 0.45);
        backdrop-filter: blur(20px);
        width: 400px;
        height: 100%;
    }

    nav a {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 900;
        letter-spacing: 3px;
        text-decoration: none;
        user-select: none;
        color: #fff;
    }

    .menu-btn {
        display: flex;
        justify-content: space-between;
    }

    nav .nav-links {
        display: block;
        --link-height: 60px;
    }

    nav .nav-links li {
        margin-left: 0;
    }

    nav .nav-links li:nth-child(2) {
        margin-left: 0;
    }

    nav .nav-links li:last-of-type {
        margin-left: 0;
    }

    .hover-el {
        display: block;
    }

    nav .nav-links li {
        width: 100%;
        opacity: 0;
        transform: translateX(50%);
    }


    nav.nav-open {
        transform: translateX(0%);
    }
}

@media screen and (max-width: 992px) {
    .card .content {
        padding: 15px;
    }
}

@media screen and (max-width: 860px) {
    .container.d_flex {
        display: block;
    }

    .logo {
        display: block;
        margin: auto;
    }

    header nav {
        margin-top: 12px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 820px) {
    .pagination {
        display: block;
    }

    .column_right {
        margin-top: 20px;
    }

    .column_right.d_flex {
        justify-content: center;
    }

    .subscribe {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .subscribe_from {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .intro_container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 767px) {
    #accordion {
        max-width: 525px;
    }

    #ui-id-2 {
        flex-wrap: wrap;
        justify-content: center;
    }

    #ui-id-4 {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 477px) {
    .intro_title {
        font-size: 34px;
        line-height: 36px;
        margin-bottom: 10px;
    }

    .intro_description {
        font-size: 12px;
    }
}

@media screen and (max-width: 428px) {
    nav {
        width: 100%;
        transform: translateX(100%);
    }

    .fixed_information {
        right: 15px;
    }

    .card .content {
        padding: 15px;
    }

    .example_text {
        max-width: 300px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
}

@media screen and (max-width: 390px) {
    .pagination .column_left .logo {
        width: 100%;
        text-align: center;
    }
    .column_left {
        text-align: center;
    }

    .business_areas {
        margin-right: 0;
    }

    .column_right {
        flex-direction: column;
        text-align: center;
    }

    .pages {
        margin-top: 20px;
    }

    .copyright_social.d_flex {
        flex-direction: column;
        text-align: center;
    }
    .copyright_social .copyright {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 360px) {
    .fixed_information li {
        font-size: 10px;
    }
}