@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font: 14px/20px 'Poppins';
    color: #FFFFFF;
}

.intro {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #181818;
    padding: 24px 0;
}

.d_flex {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.text_center {
    text-align: center;
}

.container.d_flex {
    align-items: center;
}

.logo {
    display: inline-block;
    width: 128px;
    height: 31px;
    margin-left: 32px;
}

header nav {
    margin-right: 20px;
}

header nav ul {
    align-items: center;
}

header nav ul li {
    margin-right: 32px;
    transition: 0.5s;
}

header nav ul li a {
    display: inline-block;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

header nav ul li:hover {
    transform: scale(1.2);
}

header nav ul li a:focus {
    color: #C0C0C0;
}

header nav ul li:first-of-type {
    margin-right: 56px;
}

header nav ul li:first-of-type a {
    font-size: 13px;
}

header nav ul li:nth-child(4) {
    margin-right: 31px;
}

header nav ul li:last-of-type {
    margin-right: 0;
}

header nav ul li:last-of-type a {
    color: #000000;
    background-color: #FFFFFF;
    padding: 11px 20px;
    border-radius: 14px;
    font-size: 16px;
    letter-spacing: 0.4px;
}

header nav ul li:last-of-type a:focus {
    background-color: #C0C0C0;
}

.intro_info {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    text-align: center;
    padding-bottom: 71px;
}

.intro_container {
    max-width: 580px;
}

.intro_subtitle {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.intro_title {
    font-size: 54px;
    line-height: 59px;
    margin-bottom: 18px;
}

.intro_description {
    color: #C0C0C0;
}

.fixed_information {
    position: absolute;
    bottom: 41px;
    right: 40px;
}

.fixed_information li {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    display: inline-flex;
    margin-left: 16px;
}

.fixed_information li:before {
    content: "";
    background-image: url("../images/timer.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}

.fixed_information li:nth-child(2):before {
    background-image: url("../images/shot.svg");
}

.fixed_information li:nth-child(3):before {
    background-image: url("../images/iso.svg");
    width: 32px;
    height: 16px;
    margin-right: 7px;
}

.fixed_information li:last-of-type:before {
    background-image: url("../images/point.svg");
    width: 10px;
    height: 16px;
    margin-right: 5px;
}

.example {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.example_fuji {
    background-image: url('../images/example_fuji.jpg');
}

.example_monstera {
    background-image: url('../images/example_monstera.jpg');
}

.example_himalayas {
    background-image: url('../images/example_himalayas.jpg');
}

.example_text {
    max-width: 300px;
    margin-right: 60px;
}

.example_title {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.example_description {
    color: #C0C0C0;
}

.clients {
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 140px;
}

.title {
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.description {
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
}

.clients .scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 62px;
    padding-right: 62px;
    margin-top: 82px;
}

.clients .links {
    display: inline-block;
    max-width: 128px;
}

.clients .links img {
    display: block;
    width: 100%;
}

.more {
    padding-top: 113px;
    padding-bottom: 108px;
    background-color: #000000;
}

.more .container {
    max-width: 600px;
}

.button {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding-right: 10px;
    margin-top: 22px;
    transition: 0.5s;
}

.button::before {
    content: "";
    display: block;
    background-color: #000000;
    border-radius: 13px;
    width: 32px;
    height: 32px;
    margin: 5px;
}

.button:hover {
    transform: scale(1.2);
}

.button:focus {
    background-color: #C0C0C0;
}

.what_we_do {
    padding-top: 112px;
    padding-bottom: 100px;
    background-color: #000000;;
}

.what_we_do .description {
    padding-bottom: 26px;
}

.what_we_do .d_flex {
    padding: 8px;
    justify-content: center;
    flex-wrap: wrap;
}

.what_we_do .item {
    max-width: 576px;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    padding: 8px;
}

.what_we_do .item img {
    display: block;
    width: 100%;
}

.what_we_do .content {
    position: absolute;
    padding: 30px;
    width: 100%;
    bottom: 0;
}

.content_title {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.content_text {
    color: #C0C0C0;
}

.what_we_do .content .button {
    font-size: 15px;
}